USE [master]
GO
/****** Object:  Database [MusteriCodeFirstOrnek]    Script Date: 10.02.2026 00:31:55 ******/
CREATE DATABASE [MusteriCodeFirstOrnek]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MusteriCodeFirstOrnek', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MusteriCodeFirstOrnek.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MusteriCodeFirstOrnek_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MusteriCodeFirstOrnek_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MusteriCodeFirstOrnek].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MusteriCodeFirstOrnek]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10.02.2026 00:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoris]    Script Date: 10.02.2026 00:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoris](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Kategoris] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Markas]    Script Date: 10.02.2026 00:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Markas](
	[MarkaID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriID] [int] NOT NULL,
	[MarkaAdi] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Markas] PRIMARY KEY CLUSTERED 
(
	[MarkaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteris]    Script Date: 10.02.2026 00:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteris](
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
	[AdiSoyadi] [nvarchar](max) NULL,
	[Telefon] [nvarchar](max) NULL,
	[Sehir] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Tarih] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Musteris] PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sepets]    Script Date: 10.02.2026 00:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sepets](
	[SepetID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NOT NULL,
	[BarkodNo] [nvarchar](30) NULL,
	[UrunAdi] [varchar](20) NULL,
	[Miktari] [int] NOT NULL,
	[BirimFiyati] [decimal](8, 3) NOT NULL,
	[ToplamFiyati] [decimal](8, 3) NOT NULL,
	[Tarih] [datetime] NOT NULL,
	[KategoriID] [int] NOT NULL,
	[MarkaID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Sepets] PRIMARY KEY CLUSTERED 
(
	[SepetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uruns]    Script Date: 10.02.2026 00:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uruns](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriID] [int] NULL,
	[MarkaID] [int] NULL,
	[BarkodNo] [nvarchar](30) NULL,
	[UrunAdi] [varchar](20) NULL,
	[Miktari] [int] NOT NULL,
	[AlisFiyati] [decimal](8, 3) NOT NULL,
	[SatisFiyati] [decimal](8, 3) NOT NULL,
	[Tarih] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Uruns] PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kategoris] ON 

INSERT [dbo].[Kategoris] ([KategoriID], [KategoriAdi]) VALUES (1, N'Gida')
INSERT [dbo].[Kategoris] ([KategoriID], [KategoriAdi]) VALUES (2, N'Teknoloji')
INSERT [dbo].[Kategoris] ([KategoriID], [KategoriAdi]) VALUES (3, N'Giyim')
SET IDENTITY_INSERT [dbo].[Kategoris] OFF
GO
SET IDENTITY_INSERT [dbo].[Markas] ON 

INSERT [dbo].[Markas] ([MarkaID], [KategoriID], [MarkaAdi]) VALUES (2, 1, N'Eti')
INSERT [dbo].[Markas] ([MarkaID], [KategoriID], [MarkaAdi]) VALUES (3, 2, N'Asus')
INSERT [dbo].[Markas] ([MarkaID], [KategoriID], [MarkaAdi]) VALUES (4, 3, N'Defacto')
SET IDENTITY_INSERT [dbo].[Markas] OFF
GO
SET IDENTITY_INSERT [dbo].[Musteris] ON 

INSERT [dbo].[Musteris] ([MusteriID], [AdiSoyadi], [Telefon], [Sehir], [Email], [Tarih]) VALUES (1, N'Murat Akay', N'7654546767', N'Ankara', N'akaymurat@gmail.com', CAST(N'2026-11-15T20:58:22.000' AS DateTime))
INSERT [dbo].[Musteris] ([MusteriID], [AdiSoyadi], [Telefon], [Sehir], [Email], [Tarih]) VALUES (3, N'Asya Demir', N'789123456', N'Eskişehir', N'demirasya@gmail.com', CAST(N'2021-11-08T21:14:43.000' AS DateTime))
INSERT [dbo].[Musteris] ([MusteriID], [AdiSoyadi], [Telefon], [Sehir], [Email], [Tarih]) VALUES (4, N'Kemal Yıldırım', N'32456765', N'İstanbul', N'kemalyildirim@gmail.com', CAST(N'2026-11-03T23:41:30.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Musteris] OFF
GO
SET IDENTITY_INSERT [dbo].[Uruns] ON 

INSERT [dbo].[Uruns] ([UrunID], [KategoriID], [MarkaID], [BarkodNo], [UrunAdi], [Miktari], [AlisFiyati], [SatisFiyati], [Tarih]) VALUES (15, 1, 2, N' 100', N'Eti Gofret', 50, CAST(50.000 AS Decimal(8, 3)), CAST(55.000 AS Decimal(8, 3)), CAST(N'2026-12-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Uruns] ([UrunID], [KategoriID], [MarkaID], [BarkodNo], [UrunAdi], [Miktari], [AlisFiyati], [SatisFiyati], [Tarih]) VALUES (16, 2, 3, N'150', N'Asusbilgisayar', 45, CAST(4.000 AS Decimal(8, 3)), CAST(5.000 AS Decimal(8, 3)), CAST(N'2026-12-03T00:00:00.000' AS DateTime))
INSERT [dbo].[Uruns] ([UrunID], [KategoriID], [MarkaID], [BarkodNo], [UrunAdi], [Miktari], [AlisFiyati], [SatisFiyati], [Tarih]) VALUES (17, 3, 4, N'200', N'Defacto', 80, CAST(4.500 AS Decimal(8, 3)), CAST(5.500 AS Decimal(8, 3)), CAST(N'2026-12-03T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Uruns] OFF
GO
/****** Object:  Index [IX_KategoriID]    Script Date: 10.02.2026 00:31:56 ******/
CREATE NONCLUSTERED INDEX [IX_KategoriID] ON [dbo].[Markas]
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UrunID]    Script Date: 10.02.2026 00:31:56 ******/
CREATE NONCLUSTERED INDEX [IX_UrunID] ON [dbo].[Sepets]
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KategoriID]    Script Date: 10.02.2026 00:31:56 ******/
CREATE NONCLUSTERED INDEX [IX_KategoriID] ON [dbo].[Uruns]
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MarkaID]    Script Date: 10.02.2026 00:31:56 ******/
CREATE NONCLUSTERED INDEX [IX_MarkaID] ON [dbo].[Uruns]
(
	[MarkaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Sepets] ADD  DEFAULT ((0)) FOR [KategoriID]
GO
ALTER TABLE [dbo].[Sepets] ADD  DEFAULT ((0)) FOR [MarkaID]
GO
ALTER TABLE [dbo].[Markas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Markas_dbo.Kategoris_KategoriID] FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoris] ([KategoriID])
GO
ALTER TABLE [dbo].[Markas] CHECK CONSTRAINT [FK_dbo.Markas_dbo.Kategoris_KategoriID]
GO
ALTER TABLE [dbo].[Sepets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sepets_dbo.Uruns_UrunID] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Uruns] ([UrunID])
GO
ALTER TABLE [dbo].[Sepets] CHECK CONSTRAINT [FK_dbo.Sepets_dbo.Uruns_UrunID]
GO
ALTER TABLE [dbo].[Uruns]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Uruns_dbo.Kategoris_KategoriID] FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoris] ([KategoriID])
GO
ALTER TABLE [dbo].[Uruns] CHECK CONSTRAINT [FK_dbo.Uruns_dbo.Kategoris_KategoriID]
GO
ALTER TABLE [dbo].[Uruns]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Uruns_dbo.Markas_MarkaID] FOREIGN KEY([MarkaID])
REFERENCES [dbo].[Markas] ([MarkaID])
GO
ALTER TABLE [dbo].[Uruns] CHECK CONSTRAINT [FK_dbo.Uruns_dbo.Markas_MarkaID]
GO
USE [master]
GO
